<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>


  <!-- turn suppress all bug warnings from AWS wire protocol -->
  <logger name="software.amazon.awssdk" level="WARN"/>
  <logger name="software.amazon.awssdk.request" level="WARN"/>
  <logger name="org.apache.http" level="WARN"/>
  <logger name="com.datastax" level="WARN"/>

  <!-- suppress all but warnings from kafka -->
  <logger name="org.apache.kafka" level="warn"/>
  <logger name="org.apache.zookeeper" level="warn"/>
  <logger name="org.apache.curator" level="warn"/>

  <logger name="org.hibernate" level="ERROR"/>

  <root level="info">
    <appender-ref ref="STDERR" />
  </root>
</configuration>
